.container {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    color: #fff;
    padding-bottom: 100px;
}

@keyframes scrollDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(7px);
    }
    100% {
        transform: translateY(0);
    }
}

.scrollDown {
    position: absolute;
    bottom: 125px;
    left: 50%;
    animation: scrollDown 1.5s infinite;
}

.name {
    font-size: 5rem;
    font-weight: 600;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 50%;
    gap: 2rem;
    animation: elegantFadeIn 1.2s ease-out;
}

.profilePhoto {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 2px solid #fff;
    animation: elegantFadeIn 1.2s ease-out;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;   
    width: 50%;
}

.title {
    color: #8b8d95;
    font-size: 2rem;
}

@keyframes typewriter {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.typewriter {
    animation: typewriter 0.7s infinite;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.resumeButton {
    width: 125px;
    height: 50px;
    background-color: transparent;
    color: #ff8c00;
    border: 2px solid #ff8c00;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.resumeButton:hover {
    border-color: transparent;
    background-color: #fff;
    color: #000;
}

.contactButton {
    width: 125px;
    height: 50px;
    background-color: #ff8c00;
    transition: all 0.2s ease-in-out;
}

.contactButton:hover {
    background-color: #fff;
    border-color: transparent;
}

.shadow {
    background-color: #ff8c00;
    margin-top: 10px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transform: perspective(1em) rotateX(20deg) scale(1, 0.15);
    filter: blur(3em);
}

@keyframes elegantFadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.socials {
    display: flex;
    gap: 1rem;
}

@media (max-width: 1024px) {
    .name {
        font-size: 4rem;
    }

    .title {
        font-size: 1.75rem;
    }

    .profilePhoto {
        width: 300px;
        height: 300px;
    }
}


@media (max-width: 768px) {
    .left {
        width: 100%;
        height: 100%;
    }
    .name {
        font-size: 3rem;
    }

    .title {
        font-size: 1.5rem;
    }

    .profilePhoto {
        display: none;
    }

    .container {
        flex-direction: column;
    }
    
}
